body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  header {
    height: 65px;
    width: 100%;
    background-color:rgb(192, 13, 138);
    /* Change the position property to fixed, and top property to 0 */
    position:fixed;
    top:0;
    z-index:10;
    /* Change the z-index property to 10 */
    
  }
  .header-left {
    float: left;
    color:white;
    text-align: right;
  }
  
  .header-right {
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
    padding: 20px;
    
  } 
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("img6.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    margin: auto;
  } 
  .top-wrapper h1{
      text-align: left;
      font-weight: bold;
  }
  .top-wrapper h2{
    text-align: left;
    font-size: 18px;
  }
  .top-wrapper p{
      text-align:left;
      font-size: 13px;
  }